@model UniFlowSn.Models.Db.EventType

@{
    ViewData["Title"] = "Detalhes do Tipo de Evento";
}

<div class="container mt-5">
    <h1 class="mb-4"><i class="bi bi-eye-fill me-2"></i> Detalhes do Tipo de Evento</h1>

    <div class="card shadow-sm rounded">
        <div class="card-body p-4">
            <h4 class="card-title mb-4">Informações do Tipo de Evento</h4>
            <dl class="row">
                <dt class="col-sm-3"><i class="bi bi-tag-fill me-2"></i> @Html.DisplayNameFor(model => model.Type)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Type)</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3"><i class="me-2"></i> @Html.DisplayNameFor(model => model.Icon)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Icon)</dd>
            </dl>
        </div>
        <div class="card-footer text-center py-3">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary"><i class="bi bi-pencil-fill me-2"></i> Editar</a>
            <a asp-action="Index" class="btn btn-secondary ms-2"><i class="bi bi-arrow-left-circle-fill me-2"></i> Voltar para a Lista</a>
        </div>
    </div>
</div>