@model UniFlowSn.Models.ViewModels.RecoveryPasswordViewModel

@{
    ViewData["Title"] = "Recuperar Senha";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header bg-primary text-center p-4" style="background-color: #0FC2C0 !important;">
                    <h3 class="text-white"><i class="bi bi-question-circle-fill me-2"></i> Recuperar Senha</h3>
                </div>
                <div class="card-body p-4">
                    <form asp-action="RecoveryPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="mb-3 form-floating">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <label asp-for="Email" class="form-label"><i class="bi bi-envelope-fill me-2"></i> Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mt-4 d-grid">
                            <button type="submit" class="btn btn-primary btn-lg" style="background-color: #0FC2C0 !important; border-color: #0FC2C0 !important;">
                                <i class="bi bi-envelope-at-fill me-2"></i> Enviar Código de Recuperação
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a asp-controller="Account" asp-action="Login">Voltar para o Login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>