@model UniFlowSn.Models.Db.Menu

@{
    ViewData["Title"] = "Adicionar Menu";
}

<div class="container mt-5">
    <h1 class="mb-4"><i class="bi bi-plus-circle-fill me-2"></i> Adicionar Menu</h1>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-body p-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="mb-3 form-floating">
                            <input asp-for="MenuTitle" class="form-control" placeholder="Título do Menu" required />
                            <label asp-for="MenuTitle" class="form-label"><i class="bi bi-text-left me-2"></i> Título do Menu</label>
                            <span asp-validation-for="MenuTitle" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input asp-for="Link" class="form-control" placeholder="Link" />
                            <label asp-for="Link" class="form-label"><i class="bi bi-link-45deg me-2"></i> Link</label>
                            <span asp-validation-for="Link" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <select asp-for="Type" class="form-select" required>
                                <option value="">Selecione o Tipo</option>
                                <option value="Topo">Topo</option>
                                <option value="Inferior">Inferior</option>
                            </select>
                            <label asp-for="Type" class="form-label"><i class="bi bi-tag-fill me-2"></i> Tipo</label>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="mt-4 d-grid">
                            <button type="submit" class="btn btn-success"><i class="bi bi-check-circle-fill me-2"></i> Adicionar Menu</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left-circle-fill me-2"></i> Voltar para a Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}